.doc {
    color: var(--reverse-color);
}

.doc h2 {
    padding-left: 4px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 5px solid var(--accent-color);
    color: var(--reverse-color);
}

.doc li::marker {
    color: var(--reverse-color);
}