@tailwind base;
@tailwind components;
@tailwind utilities;

// CSSの変数の定義
:root {
    --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*通常使用するフォント*/

    // デフォルトの色の変数
    --bg-color: #f8f9fa; /* メインの色 */
    --header-color: #0056b3; /* ヘッダーの色 */
	--footer-color: #cccccc; /* フッターの色 */
    --text-color: #343a40; /* テキストの色 */
    --accent-color: #ffa500; /* アクセントの色*/
	--reverse-color: #121212; /* 反対色 */
    
}

// ダークモードの色の変数
[data-theme='dark'] {
	--bg-color: #121212; /* メインの色 */
	--header-color: #00bcd4; /* ヘッダーの色 */
	--footer-color: #2E2E2E; /* フッターの色 */
	--text-color: #e0e0e0; /*テキストの色 */
	--accent-color: #8a2be2; /* アクセントの色*/
	--reverse-color: #f8f9fa; /* 反対色 */
}

* {
	box-sizing: border-box;
	word-break: auto-phrase;
}
  
html {
	scroll-behavior: smooth;
	font-size: 16px;
	overflow-x: hidden;
}
  
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	font-family: var(--font-family);
    color: var(--text-color);
	overflow-x: hidden;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}
h2 {
	font-size: 1.5rem;
	font-weight: bold;
}
h3 {
	font-size: 1.2rem;
	font-weight: bold;
}
h4 {
	font-size: 1.125rem;
	font-weight: bold;
}
  
@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
}
